/** {border: 1px solid black;}
*/
body {
	margin: 0;
	font-family: Myriad Pro, Arial;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: #006A35;
}

h4 {
	margin: 0 0 15px 0;
}

h4 + p {
	margin: 0;
}

ul {
	margin: 0;
}

#wrap {
	min-width: 50em;
	max-width: 50em;
	width: 50em;
	margin: 0 auto;
	padding-top: 25px;
}

#header {
	min-height: 100px;
	max-height: 150px;
}

#brand {
	float: left;
/*	padding: 25px 0;*/
}

#logo {
	font-size: 21pt;
}

#tagline {
	font-size: 12pt;
}

#tag {
	float: right;
/*	padding: 2em 0 0 0;*/
	min-width: 30em;
	max-width: 30em;
	width: 30em;
}

#heading {
	font-size: 18pt;
}

#caption {
	font-size: 14pt;
}

#nav {
	height: 50px;
	background: #eee;
}

#menu a, 
#account a {
	height: 30px;
	display: block;
	float: left;
	padding: 10px;
	font-size: 14pt;
	line-height: 30px;
	color: #006A35;
}

#menu a, 
#account a {

}

#menu {
	float: left;
}

#account {
	float: right;
}

#content {
	min-height: 400px;
	padding-bottom: 25px;
}

body .ui-widget {
	font-size: 9pt;
}

#content td,
#content th {
	padding: 5px;
	text-align: left;
}

#content .identifier {
	min-width: 25em;
	max-width: 25em;
	width: 25em;
}

#flash > p > span {
	float: left;
	margin: 0.3em;
}

#flash a {
	margin-left: 25px;
}

ul#steps {
	list-style: none;
	height: 200px;
	margin: 0;
	padding: 0;
}

ul#steps li {
	float: left;
	width: 15em;
	height: 200px;
	margin-left: 2.5em;
}

ul#steps li:first-child {
	margin-left: 0;
}

ul#steps h2 {
	font-size: 16pt;
}

#features {
	float: left;
	min-width: 36em;
	max-width: 36em;
	width: 36em;
}

#action {
	min-width: 12em;
	max-width: 12em;
	width: 12em;
	float: right;
	padding: 75px 10px 10px 10px;
	text-align: center;
}

#action p {
	margin: 0;
}

#whatnext {
	border: 1px solid #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}

#whatnext.sidebar {
	float: right;
	width: 25em;
	min-height: 200px;
	margin: 25px;
}

#hide_api_token #whatnext {
	right: 0px;
	width: 15em;
}

#user {
	float: left;
}

#footer {
	height: 50px;
	min-width: 50em;
	max-width: 50em;
	width: 50em;
	clear: both;
}