= content_for :heading, "Simple, Easy-to-Use Interface"
= content_for :caption, "Works with your existing payment gateway."
#features
	%h2 Features
	%ul
		%li Compatible with App Store Auto-Renewable Subscriptions
		%li Compatible with External Subscription Services (Chargify, Recurly, etc)
		%li Easy iOS App Integration using InventoryKit
		%li Completely Free to Get Started. No Fees Ever!
		%li Pay Just 10% of Subscription Revenue

#action
	%p No Activation Fee
	%p No Annual Fee
	%p No Fees Ever!
	%p Get Started Now