= content_for :heading, "Turnkey Subscription Service"
= content_for :caption, "Rapidly integrate subscription management into your web and mobile applications."
%ul#steps
	%li#step1
		%h2 Step 1. Create Products
		%p
			Define product identifiers to uniquely describe your products
	%li#step2
		%h2 Step 2. Integrate With Your App
		%p
			Connect your web and mobile apps to our subscription service using InventoryKit
	%li#step3
		%h2 Step 3. Profit!
		%p
			Deploy your app and start generating revenue immediately
